*{
    margin: 0;
    padding: 0;
    font-family: 'Gotham' , sans-serif
}

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #1DB954;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
}

.artist h1 {
    font-size: 1.5em;
    margin-top: 0;
    margin: 30px;
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.artist {

    padding: 10px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.artist img{

    width: 120%;
    border-radius: 100%;

}
.album img {

    border-radius: 6px;
    width: 100%;
    align-items: center;

}

.artist p, .album p {
    margin: 10px 0 0 0;
    text-align: left;
    font-size: 15px;
}

.album {
   
    padding: 15px;
    border-radius: 8px;
    width: 170px;
    text-align: center;
}

.albums h1{

    margin: 20px;
}

h3{

    font-size: 15px;
    text-align: left;
    color: gray;
}

p{
    font-size: 15px;
}