*{
    margin: 0;
    color: white;
    padding: 0;
    font-family: 'Gotham' , sans-serif
}

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

main {
    padding: 4px;
    height: calc(100vh - 8px);
}

h1 {
    margin-top: 0;
    margin: 30px;
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.artist {

    padding: 10px;
    border-radius: 5px;
    width: 160px;
    text-align: center;
}

.artist img{

    width: 100%;
    border-radius: 100%;

}
.album img {

    border-radius: 6px;
    width: 100%;
    align-items: center;

}

.artist p, .album p {
    margin: 10px 0 0 0;
    text-align: left;
    font-size: 16px;
}

.album {
   
    padding: 15px;
    border-radius: 8px;
    width: 155px;
    text-align: center;
}

.albums h1, .artists h1{

    margin: 18px;
    font-size: 24px;
}

.album:hover, .artist:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.album > .div-img, .artist > .div-img {
    position: relative;
}

.botao-play {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #1ed760;
    border-radius: 100%;
    bottom: 4px;
    right: 4px;
    opacity: 0;
    transition: 0.3s;
    transform: translate(0, 60%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-play img {
    height: 24px;
    width: 24px;
}

.album:hover .div-img img ~ .botao-play, .artist:hover .div-img img ~ .botao-play {
    opacity: 1;
    transform: translate(0, 0);
}

#fundo-degrade {
    background-image: linear-gradient(rgb(43, 43, 43), black);
    padding-top: 20px;
    padding-left: 8px;
}

#topo {
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-weight: bold;
}

#topo div {
    display: flex;
}

#topo .direita {
    gap: 24px;
}

#topo .esquerda {
    gap: 8px;
    align-items: center;
}

#topo .esquerda button {
    background-color: black;
    border-radius: 100%;
    padding: 8px;
    outline: none;
    border: 0;
}

#topo .esquerda img {
    height: 16px;
}

#topo .direita a {
    padding: 16px 24px;
    border-radius: 50px;
}

#link2 {
    background-color: white;
    color: black;
}

h3{
    font-size: 15px;
    text-align: left;
    color: gray;
}

p{
    font-size: 16px;
}

h3 {
    font-size: 14px;
}


a {
    display: flex;
    align-items: center;
    transition: 0.3s;
    color: #b3b3b3;
    text-decoration: none;
}

body {
    background-color: black;
    display: flex;
}

header {
    height: 100vh;
    width: 360px;
    position: fixed;
    left: 0;
}

main {
    margin-left: 360px;
    width: calc(100vw - 360px);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.interior {
    width: calc(100% - 8px);
    height: calc(100% - 16px);
}

#section-nav, #section-biblioteca, #section-lingua {
    background-color: #181818;
    border-radius: 8px;

}

#section-nav {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    margin-bottom: 8px;
}

#img-logo {
    width: 78px;
    opacity: 1;
}

.img-icone {
    height: 24px;
    width: 24px;
    padding: 8px;
    margin: 4px 16px;
    transition: 0.3s;
    opacity: 0.6;
}

a:hover .img-icone, a:hover {
    color: white;
    opacity: 1;
}

#section-biblioteca {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#biblioteca-topo button {
    background-color: rgb(0, 0, 0, 0);
    border: 0;
}

#biblioteca-topo {
    display: flex;
    justify-content: space-between;
}

#biblioteca-topo button {
    transition: 0.3s;
    display: flex;
    align-items: center;
    color: #b3b3b3;
    font-size: 16px;
}

#biblioteca-topo .img-icone {
    opacity: 0.6;
}

#biblioteca-topo button:hover, #biblioteca-topo button:hover .img-icone {
    opacity: 1;
    color: white;
}

#botao-mais div {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 100%;
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: 16px;
    opacity: 0;
    transition: 0.3s;
}

#botao-mais:hover div {
    opacity: 1;
}

#biblioteca-sub-blocos {
    height: 265px;
    overflow: scroll;
    overflow-x: hidden;
}

#biblioteca-sub-blocos::-webkit-scrollbar {
    display: none;
    background: rgb(0, 0, 0, 0);
}

.sub-bloco {
    background-color: rgb(36, 36, 36);
    border-radius: 8px;
    padding: 20px 16px;
    margin: 16px 0;
}

.sub-bloco h4, .sub-bloco p {
    margin-bottom: 6px;
}

.sub-bloco p {
    margin-bottom: 10px;
    font-size: 14px;
}

.sub-bloco button {
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 8px 12px;
    font-size: 14px;
    margin-top: 12px;
    font-weight: bold;
}

#section-lingua {
    padding: 36px 24px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#section-lingua div {
    display: flex;
    flex-wrap: wrap;
}

#section-lingua a {
    font-size: 11px;
    color: #a7a7a7;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
}

#section-lingua img {
    width: 16px;
    margin-right: 8px;
}

#section-lingua button {
    font-size: 14px;
    font-weight: bold;
    padding: 3px 16px;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid #878787;
    border-radius: 50px;
    margin-top: 26px;
}